body {
	font-family: Georgia,"Times New Roman",Times,serif;
}
div#debug {
	position: absolute;
	bottom: 0px;
	margin: 0 auto;
	background-color: #000000;
	color: #ffffff;
}
div#blind {
	width: 100%;
	height: 100%;
	background-color:#000000;
	z-index:100;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;	
}
div#main-ctlr {
	position:relative;
	top:100px;
  	margin: 0 auto;
	width: 450px;
	z-index:200;
}
h1#logo{
  	margin: 0 auto;
   	width:250px;
    height: 310px;
    padding: 10px 0px 0px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.60);
}
.oldie h1#logo {
	-pie-background: rgba(255, 255, 255, 0.60);
	behavior: url(PIE.php);
}
h1#logo img {
    display: block;
    margin: 0px auto;
}
div#menu {
	position: relative;
	top: -75px;
	left: 34px;
}
div#menu>a{
	position: relative;
	width: 120px;
	height: 120px;
	border: 0px solid #000;
	display: inline-block;
	vertical-align: top;
	margin: 3px;
	text-align: center;
	text-decoration: none;
}
.ie6 div#manu>a, 
.ie7 div#menu>a {
	zoom: 1;
	display: inline;
}
div#menu>a#company>span.circle{
	background-color: #415e27;
}
div#menu>a#products>span.circle{
	background-color: #42275e;
}
div#menu>a#inquiry>span.circle{
	background-color: #181916;
}
div#menu>a>span.circle {
	margin-top: -50px;
	margin-left: 20px;
	width: 80px;
	height: 80px;
	border: 0px solid #000;
	display: block;
	border-radius: 100px;
}
.oldie div#menu>a>span.circle {
	behavior: url(PIE.php);
}
div#menu>a>span.menu-title{
	font: normal 1.4em/0.7em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
/*	color: #ffffff;*/
	color: #f7e8c5;
	margin-top: 40px;
	margin-left: 0px;
	display: block;
	height: 18px;
}
div.pane {
	background:rgba(0,0,0,0.75);
	color:#fff;
	padding: 0px 0px;
}
.oldie div.pane {
	-pie-background: rgba(0, 0, 0, 0.75);
	behavior: url(PIE.php);
}
div#company-pane {
	position:fixed;
	top:0px;
	left: 0px;
  	width: 0%;
/*	width: 650px;*/
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
div#inquiry-pane {
	position:fixed;
	top:0px;
	right: 0px;
  	width: 0%;
/*	width: 650px;*/
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
div#products-pane {
	position:fixed;
	bottom: 0px;
  	width: 100%;
	height: 0%;
/*	height: 300px;*/
	overflow-y: auto;
}
div.pane>.content{
	margin: 20px 30px;
	color: #f7e8c5;
	font: normal 1.2em/1.2em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;	
}
div#company-pane>div.content {
	width: 590px;
}
div#inquiry-pane>div.content {
	width: 590px;
}
div.pane h2 {
	font: bold 2em/2.0em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
	color: #f7e8c5;
	margin-bottom: 0px;
}
div#company-pane h2, 
div#company-pane h3,
div#company-pane h4 {
	text-shadow: 2px 3px 0px #385222;
}
div#company-pane h3 {
	margin: 40px 20px 10px;
	font: bold 1.4em/1.0em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
}
div#company-pane h4 {
	font: bold 1em/1.0em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
	display: inline;
	line-height:35px;
	margin-right: 15px;
}
div#company-pane div#messages {
	margin-bottom: 50px;
}
div#company-pane div.info {
	display: inline-block;

	vertical-align: top;
	margin-left: 20px;
	margin-right: 60px;
}
.ie6 div#company-pane div.info,
.ie7 div#company-pane div.info {
	zoom: 1;
	display: inline;
}
div#company-pane div.info p{
	margin-left: 8px;
}
div#inquiry-pane h2{
	text-shadow: 2px 4px 0px #181916;
}
div#inquiry-pane h3{
	font: normal 1.2em/1.4em "Yanone Kaffeesatz", "Helvetica Neue", sans-serif;
	margin-bottom: 15px;
}
div#products-pane h2{
	text-shadow: 4px 3px 0px #42275E;
}
ul#catalogs {
	margin-top: 30px;
	list-style-type: none;
}
ul#catalogs li {
	position: relative;
	width: 30%;
	height: 120px;
	border: 0px solid #000;
	display: inline-block;
	vertical-align: top;
	padding-right: 3%;
	text-align: center;
	text-decoration: none;

}
.ie6 ul#catalogs li,
.ie7 ul#catalogs li {
	zoom: 1;
	display: inline;
}
ul#catalogs li>a {
	font: normal 1.6em/1.4em "Yanone Kaffeesatz", "Helvetica Neue", sans-serif;
	color: #f7e8c5;
	text-decoration: none;
	cursor: pointer;
}
ul#catalogs li>a:hover {
	color: #7D49B2;
}

/*overlay*/
div.overlay {
	background-color: #000000;
	border: 6px solid #000000;
}
div.map-overlay {
	width: 300px;
	height:300px;
	display:none;
	z-index: 300;
}
div.map-overlay div.wrap-overlay {
	width: 300px;
	height: 300px
}
/* close button positioned on upper right corner */
div.map-overlay .close {
	background-image:url(../img/apple-close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:28px;
	width:28px;
}
div.map-overlay iframe {
	height: 95%;
	width: 100%;
	border: 0px solid #333;
}
div.pdf-overlay {
}
div.pdf-overlay iframe {
	height: 93%;
	width: 100%;
	border: 0px solid #333;
}
div.pdf-overlay div.footer {
	height: 7%;
	background-color: #000000;
}

/* button */
input.button, 
a.button {
	display: block;
	border-radius: 10px;
	box-shadow: 4px 4px 1px #444;
	font: normal 1.5em/1.5em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
	color: #f7e8c5;
	line-height: 1;
	margin: 5px auto 5px;
	padding: 8px 10px;
	text-align: center;
	text-shadow: 0 2px 0 #444;
	cursor: pointer;
	text-decoration: none;
}
.oldie input.button,
.oldie a.button {
	behavior: url(PIE.php);
}
input.button:active,
a.button:active {
	margin: 10px auto 0px;
	box-shadow: 2px 2px 1px #888;
}
.oldie input.button:active,
.oldie a.button:active {
	behavior: url(PIE.php);
}
input.download,
a.download {
	background: linear-gradient(#643B8F, #42275E);
	border: 1px solid #42275E;
	border-top: 1px solid #643B8F;
	width: 180px;
}
.oldie input.download,
.oldie a.download {
	-pie-background: linear-gradient(#643B8F, #42275E);
	behavior: url(PIE.php);
}
input.download:hover,
a.download:hover {
	background: linear-gradient(#7D49B2, #42275E);
	border-top: 1px solid #7D49B2;
}
.oldie input.download:hover,
.oldie a.download:hover {
    -pie-background: linear-gradient(#7D49B2, #42275E);
	behavior: url(PIE.php);
}

input#open-map,
a#open-map {
	background: linear-gradient(#608B3A, #415E27);
	border: 1px solid #415E27;
	border-top: 1px solid #608B3A;
	width: 50px;
	display: inline-block;
	font: normal 1em/1em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
	color: #f7e8c5;
	line-height: 12px;
	margin: 5px auto 5px;
	padding: 3px 2px;
}
.oldie input#open-map,
.oldie a#open-map {
	-pie-background: linear-gradient(#608B3A, #415E27);
	behavior: url(PIE.php);
}
.ie6 input#open-map,
.ie7 input#open-map,
.ie6 a#open-map, 
.ie7 a#open-map {
	zoom: 1;
	display: inline;
}
input#open-map:active,
a#open-map:active {
	position: relative;
	top: 5px;
}
input#open-map:hover,
a#open-map:hover {
	background: linear-gradient(#79AE48, #415E27);
	border-top: 1px solid #79AE48;
}
oldie input#open-map:hover,
oldie a#open-map:hover {
	-pie-background: linear-gradient(#79AE48, #415E27);
	behavior: url(PIE.php);
}
