/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  This css is linked from Wufoo form html and overwrites Wufoo original css.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
#header {
    display: none;
}
form li label.desc {
	width: 48% !important;
	text-align: right;
}
form li div {
	width: 45% !important;
}
form li p.instruct {
	width: 100px !important;
}
/* button*/
input#saveForm {
	background-color: #181916;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#363831), to(#181916));
	background-image: -webkit-linear-gradient(top, #363831, #181916);
	background-image: -moz-linear-gradient(top, #363831, #181916);
	background-image: -ms-linear-gradient(top, #363831, #181916);
	background-image: -o-linear-gradient(top, #363831, #181916);
	background-image: linear-gradient(top, #363831, #181916);
	-pie-background: linear-gradient(top, #363831, #181916);
	border: 1px solid #181916;
	border-top: 1px solid #363831;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 4px 4px 1px #000;
	-webkit-box-shadow: 4px 4px 1px#000;
	box-shadow: 4px 4px 1px #444;
	font: normal 1.5em/1.5em 'Yanone Kaffeesatz', "Helvetica Neue", sans-serif;
	color: #f7e8c5;
	line-height: 1;
	padding: 8px 10px;
	text-align: center;
	text-shadow: 0 2px 0 #444;
	cursor: pointer;
	outline: none;
	behavior: url(http://noboruthedragon.com/kioto/PIE.php);
}
	
input#saveForm:hover {
	background-color: #52554B;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#52554B), to(#181916));
	background-image: -webkit-linear-gradient(top, #52554B, #181916);
	background-image: -moz-linear-gradient(top, #52554B, #181916);
	background-image: -ms-linear-gradient(top, #52554B, #181916);
	background-image: -o-linear-gradient(top, #52554B, #181916);
	background-image: linear-gradient(top, #52554B, #181916);
	-pie-background-image: linear-gradient(top, #52554B, #181916);
	behavior: url(http://noboruthedragon.com/kioto/PIE.php);
	border-top: 1px solid #52554B;
}
input#saveForm:active {
	margin-top: 5px;
	-moz-box-shadow: 2px 2px 1px #000;
	-webkit-box-shadow: 2px 2px 1px#000;
	box-shadow: 2px 2px 1px #888;
	behavior: url(http://noboruthedragon.com/kioto/PIE.php);
}
.buttons div {
	margin-left: 228px !important;
	margin-right: 20px !important;
}

/* user input error */
#errorLi {
    display: none;
}
form li.error {
	background-color: transparent !important;
}
form li.focused {
	background-color: #f7e8c5 !important;
}
form li.error p.error {
	margin-left: 180px !important;
}
form li.error input,
form li.error select{
	border-color: #D6452B !important;
	border-width: 2px !important;
}
form li.error input[type=file]{
	background-color: #D6452B !important;
}
form p.error {
	color: #D6452B !important;
}
form li.error .desc,
form li.error label{
	color: #f7e8c5 !important;
}
form li.focused .desc,
form li.focused label{
	color: #000000 !important;
}
.confirm h2 {
	color: #FD7F00;
}
